th , td ,table{
    color: red;
    border: 5px solid darkgrey;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: silver;
    font-family: 'Pacifico',cursive;
}
th{
    background-color:  #505050 ;
    border-color: black;
    padding: 35px;
}
td{
    padding: 35px;
}
.noDays{
    background: white;
}